/* sidebar */
.game-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 900px) {
    .game-main {
        flex-direction: column;
    }
}

.sidebar {
    height: 100%;
    width: 256px;
}

.event-list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.event-item {
    width: 100%;
    height: min-content;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px 0;
}

.event-item.is-error {
    color: darkred;
}

/* pre-game */
.new-or-join {
    display: flex;
    flex-direction: column;
}

.new-or-join label {
    margin-right: 5px;
}

.waiting-room span {
    margin-right: 5px;
}

/* game proper */
.game-main > div {
    margin-bottom: 10px;
}

.connection-indicator {
    height: 12px;
    width: 12px;
    background-color: #4caf50;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    animation: indicator-blink 1s linear infinite;
}

.connection-indicator.lost-connection {
    background-color: red;
    animation: indicator-blink 0.5s linear infinite;
}

@keyframes indicator-blink {
    50% {opacity: 0;}
}

.progress-board {
    background-color: blue;
    height: 200px;
    width: min-content;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
}

.progress-board.Fascist {
    background-color: orange;
}

.progress-board .board-title {
    margin: 0;
    text-align: center;
    color: white;
}

.slots-container {
    display: flex;
    margin-top: 10px;
    flex-grow: 1;
}

.progress-slot {
    width: 120px;
    margin: 0 5px;
    background-color: lightblue;
    padding: 10px;
}

.Fascist .progress-slot {
    background-color: #e47d1a;
}

.progress-slot.filled {
    background-color: #31b9bb;
}

.Fascist .progress-slot.filled {
    background-color: #af6107;
}

.player-container {
    display: flex;
    flex-direction: row;
}

.player-info {
    padding: 10px;
    width: 60px;
}

.player-info.position-president {
    background-color: burlywood;
}

.player-info.position-chancellor {
    background-color: brown;
}

.player-info.eliminated {
    background-color: black;
    color: white;
}

.user-choice-selector {
    width: min-content;
    border: 2px solid green;
    padding: 10px;
}

.user-choice-selector > div {
    white-space: nowrap;
}

.user-choice-selector .item-container {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.user-choice-item {
    height: 20px;
    min-width: 20px;
    text-align: center;
    margin: 0 5px;
    padding: 0 10px;
    border: 2px;
    cursor: pointer;
    color: black;
    background-color: white;
    border: 2px solid black;
}

.user-choice-item:hover {
    background-color: lightslategray;
}

.user-choice-item.selected {
    background-color: black;
    color: white;
}